/* index.css */

/* Tailwind base styles */
@tailwind base;

/* Tailwind component classes */
@tailwind components;

/* Tailwind utility classes */
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tag-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: black;
  max-width: 100vw;
  min-width: 100%;
  min-height: 250px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 85px;
  cursor: url('./arrowhead.png') 16 16, auto;
}

.tag-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  animation: slideIn 5s forwards;
}

.contact-div {
  min-height: 100vh;
  background: url('/contact-bg.webp');
}

.tag-slider {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  transform: translateX(0); /* Initial position in the middle */
}

@keyframes slideLeft {
  0% {
    transform: translateX(0); /* Start in the middle */
  }
  100% {
    transform: translateX(-100%); /* Slide left */
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0); /* Start in the middle */
  }
  100% {
    transform: translateX(100%); /* Slide right */
  }
}

.tag {
  background-color: rgb(27, 27, 27);
  padding: 10px 20px;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.tag:hover {
  background-color: white;
  color: black
}

/* Row 1: Left to right */
.row1 .tag-slider {
  animation: slideLeft 120s linear infinite;
}

/* Row 2: Right to left */
.row2 .tag-slider {
  animation: slideRight 120s linear infinite;
}

/* Row 3: Left to right */
.row3 .tag-slider {
  animation: slideLeft 120s linear infinite;
}

/* index.css or App.css */
body {
  /* cursor: url('./arrowhead.png') 16 16, auto; */
}

